@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-family: "Montserrat", sans-serif;
}

body {
    overscroll-behavior: contain;
    position: relative;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

@supports (font-variation-settings: "wdth" 115) {
    h1 {
        font-family: "Montserrat", sans-serif;
        font-variation-settings: "wdth" 700;
    }
}

@layer components {
    .glass {
        @apply backdrop-blur-[3.125rem] bg-system-gray bg-opacity-50;
    }

    .subhead {
        @apply text-xs lg:text-sm font-bold text-system-gray-900 leading-[140%];
    }

    .head {
        @apply text-[1.375rem] lg:text-[2.25rem] leading-[140%] px-15 text-center text-system-black-900 font-bold
    }

    .card {
        @apply lg:px-[2.75rem] lg:py-[2.125rem] p-6 rounded-[1.125rem] bg-system-gray-500;
    }
}

[type="search"]::-webkit-search-decoration {
    display: none
}

[type="search"]::-webkit-search-cancel-button {
    display: none
}

[type="search"]::-webkit-search-results-button {
    display: none
}

[type="search"]::-webkit-search-results-decoration {
    display: none
}

/* slide-fade */
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.nuxt-loading-indicator {
    height: 100vh !important;
    width: 100vw !important;
    transform: scaleX(1) !important;
}